<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.homeworkforcakeshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".forCake.AddCake"
            android:theme="@style/NOTitle"></activity>
        <activity
            android:name=".forCake.SearchResult"
            android:theme="@style/NOTitle" />
        <activity
            android:name=".mainActivity.SellMainActivity"
            android:theme="@style/NOTitle" />
        <activity
            android:name=".login.Register"
            android:theme="@style/NOTitle" />
        <activity
            android:name=".forCake.DetailsCake"
            android:theme="@style/NOTitle" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/NOTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainActivity.BuyMainActivity"
            android:theme="@style/NOTitle" />
    </application>

</manifest>